<div class="link-wrapper">
  <style scoped>
    ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
    }

    ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link">
    {%- for platform in site.sidebar %}
    <li><a href="{{ platform.link }}">{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>
    {%- endfor %}
  </ul>
  <hr/>
  <ul class="link">
    <li><i class="fa-solid fa-book"></i>&nbsp;Documentation</li>
    <li>&nbsp;</li>
    <table style="width:auto;">
      {%- for doc in site.doc %}
      <tr>
	<td>{{ doc.icon }}</td>
	<td><a href="{{ doc.link }}">{{ doc.name }}</a></td>
      </tr>
      {%- endfor %}
    </table>
  </ul>
</div>
