---
---

@import "{{ site.theme }}";

.wrapper {
    width: 1280px;
}

section {
    width: 896px;
}

.sidebar {
    width: 364px;
}

.sidebar-footer {
    display: none;
}

table.sidebar {
    width: auto;
}

table.sidebar th dh {
    padding: 2px 3px;
    border-bottom: none;
}
